.navbar{
    background-color: rgba(0,0,0,0.7);
    border-color: rgba(0,0,0,0.7);
}
.logo{
    font-size: 24px;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus{
    color: #fff;
}
.navbar-default .navbar-nav > li > a{
    font-size: 16px;
}
.navbar-nav {
    float: right;
    margin: 0;
}
#header{
    max-width: 100%;
    width: 100%;
    min-height: 420px;
    background: url(../images/header_desktop.png) no-repeat center;
    background-size: cover;
    position: relative;
}
.carousel-text-block{
    width: 460px;
    height: 152px;
    max-width: 460px;
    max-height: 152px;
    background: rgba(0,0,0,0.35);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50% ,0);
    padding: 10px;
}
.carousel-text-style-b{
    width: 90%;
    margin: 0 auto 16px;
    text-align: center;
    color: #fff;
    font-size: 36px;
}
.carousel-text-style-s{
    /* display: block; */
    color: #fff;
    text-align: center;
}
.icon-style{
    color: #fff;
}

/*---------------------------
            內容
---------------------------*/
#content-block-top{
    padding: 50px 0 31px;
    background: #efe9e7;
}
.content-title{
    width: 100%;
    height: auto;
    margin: 0 auto 31px;
    position: relative;
}
.content-title::before,
.content-title::after{
    content:'';
    position: absolute;
    top: 45%;
    width: 105px;
    height: 1px;
    background: #979797;
}
.content-title::after{
    right: 30%;
}
.content-title::before{
    left: 30%;
}
.content-title p{
    text-align: center;
    font-size: 20px;
    color: #3D1101;
    line-height: 32px;
}
.thumbnail{
    background: transparent;
    border: none;
}
.caption{ margin-top: 20px; }
.caption h3,
.caption p{
    color: #3D1101;
}
.caption h3{
    font-size: 18px;
    margin-bottom: 11px;
    text-align: center;
}
.caption p{
    width: 73%;
    margin: 0 auto;
    font-size: 16px;
    text-align: left;
}
#content-block-mid{
    background: #3d1101;
}
#content-block-mid img{
    width: 100%;
}
#content-block-mid .title,
#content-block-mid .subtitle,
#content-block-mid .mid-content{
    color: #EFE9E7;
    text-align: left;
}
#content-block-mid .title{
    font-size: 20px;
    line-height: 32px;
    margin: 5em 0 0;
}
#content-block-mid .mid-content,
#content-block-mid .subtitle{
    font-size: 16px;
}
#content-block-mid .mid-content{
    width: 70%;
    margin-top: 16px;
}

#content-block-btm{
    background: #efe9e7;
    padding-bottom: 50px;
}
#content-block-btm .title{
    margin: 50px 0 32px;
    font-size: 24px;
    color: #3D1101;
    text-align: center;
}
#content-block-btm .media-body{
    vertical-align: middle;
}
#content-block-btm .block-btm-content,
#content-block-btm .block-btm-content-name{
    line-height: 24px;
    font-size: 16px;
}   
#content-block-btm .block-btm-content{
    width: 60%;
    margin-left: 21%;
    color: #3D1101;
}
#content-block-btm .block-btm-content-name{
    text-align: right;
    width: 57%;
    margin: 16px auto 0;
    color: rgba(61,17,0,0.75);
}
#content-block-btm .media-heading{
    font-size: 18px;
    color: #3D1101;
}
#content-block-btm .media{
    margin-top: 0;
}

#res-position{
    padding: 50px 0;
}
#res-position .title{
    text-align: center;
    font-size: 24px;
    color: #3D1101;
    margin: 0 0 38px;
}
#res-position img{
    width: 100%;
}
#res-position .input-block{
    margin-bottom: 17px;
}
#res-position .input-block p{
    font-size: 14px;
    color: #3D1101;
    margin-bottom: 6px;
}
.radio-block label[for="yes"]{
    margin: 0 6.5% 0 0;
}
.radio-block label{
    position: relative;
}
.radio-block label input{
    margin: 0;
}
.radio-block label input,
.radio-block label{
    cursor: pointer;
}
.radio-block label,
.radio-block input,
.radio-block span{
    display: inline-block;
    vertical-align: top;
}
.radio-block input[type='radio'],.radio-block input[type="checkbox"]{
    display:none; 
}
.radio-block label:before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 99em;
    border: 1px solid #3797fc;
}
.radio-block input[type='radio']:checked + label:before{
    content: "";
    padding: 5px;
    text-align: center;
    line-height: 19px;
}
.radio-block input[type='radio']:checked + label[for="no"]:after,
.radio-block input[type='radio']:checked + label[for="yes"]:after{
    content: "";
    background: #3797fc;
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 99em;
    text-align: center;
    line-height: 19px;
    top: 3px;
}
.radio-block input[type='radio']:checked + label[for="yes"]:after{
    left: 3px;
}
.radio-block input[type='radio']:checked + label[for="no"]:after{
    right: 3px;
}

.contact-us-block{
    text-align: right;
}
.contact-us-block input{
    width: 70px;
    height: 32px;
    border-radius: 3px;
    color: #fff;
}
.contact-us-block .signBtn {
    background: rgba(0,0,0,0.35);
}
.contact-us-block .loginBtn {
    background: #F56C23;
}

footer{
    width: 100%;
    padding: 50px 0;
    background: #efe9e7;
}
#contact-us ul li,
#contact-us div,
#about-us p,
#about-us div{
    color: #3D1101;
}
#contact-us div,
#about-us div{
    font-size: 24px;
}
#about-us p{
    font-size: 16px;
    width: 93%;
}
#footer-id{
    font-size: 49px;
    color: #3D1101;
    letter-spacing: 0px;
    text-align: right;
}
#footer-id li{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
#footer-id li i{
    width: 31px;
    height: 36px;
}

/*-------------------------
    login & Register
-------------------------*/
.templet-style{
    padding-top: 50px;
    background: #EFE9E7;
}
.templet-style-top-title{
    margin: 0 0 35px;
}
.templet-style-top-title h1,
.templet-style-top-title h4{
    color: #3D1101;
    text-align: center;
    font-weight: bold;
}
.templet-style-top-title h1{
    font-size: 48px;
}
.templet-style-top-title h4{
    font-size: 20px;
}
.templet-block{
    width: 300px;
    height: auto;
    margin: 0 auto 50px;
    padding: 15px;
    background: #EFE9E7;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
    border-top: 3px solid #FF5E45;
}
.templet-block .templet-title{
    width: 100%;
    font-size: 18px;
    color: #3D1101;
    text-align: center;
    font-weight: bolder;
    margin: 0 0 16px;
}

/*-------------------------
    login
-------------------------*/
.login-block-style{
    margin-bottom: 15px;
}
.login-block-style p{
    font-size: 16px;
    color: #3D1101;
}
.login-block-style label{
    position: relative;
}
.login-block-style input{
    width: 270px;
    height: 32px;
    padding: 10px 0 10px 25px;
    border: 1px solid #CCCCCC;
    box-shadow: inset 0px 1px 0px 0px #ECECEC;
    border-radius: 3px;
}
.password-icon,
.email-icon{
    position: absolute;
    top: 28%;
    left: 3%;
    color: rgba(61,17,0,0.50);
}
.forget{
    font-size: 14px;
    color: #FF5E45;
    margin-bottom: 36px;
}
.login-btn{
    width: 100%;
    margin: 0 auto;
}
.login-btn input{
    width: 48%;
    padding: 6px 0;
    text-align: center;
    margin-right: 1%;
    color: #fff;
    border-radius: 3px;
}
.login-btn input:last-child{
    margin: 0;
}
.login-btn .signBtn {
    background: rgba(0,0,0,0.35);
}
.login-btn .loginBtn {
    background: #F56C23;
}

/*-------------------------
    register
-------------------------*/
#register .templet-block{
    width: 620px;
    height: auto;
    margin: 0 auto 50px;
    padding: 15px;
    background: #EFE9E7;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
    border-top: 3px solid #FF5E45;
}
.terms-title + div,
.terms-title{
    color: #3D1101;
}
.terms-title{
    font-size: 18px;
}
.terms-title + div{
    font-size: 14px;
}
#register .loginBtn{
    float: right;
}

/*-------------------------
    shopping
-------------------------*/
.shopping-left .title{
    margin-bottom: 16px;
}
.shopping-left .title i,
.shopping-left .title p{
    font-size: 20px;
    color: #3D1101;
    line-height: 32px;
    display: inline-block;
    vertical-align: middle;
}
.shopping-left .title i{
    margin-right: 15px;
}
.shopping-left  .list div{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #3D1101;
    line-height: 32px;
}
.shopping-left  .list ul li{
    width: 100%;
    padding: 5px 0 5px 10px;
    border-bottom: 1px solid #3D1101;
}
.shopping-left  .list ul li.active{
    background: #3d1101;
}
.shopping-left  .list ul li.active div{
    color:#fff;
}

.shopping-right .search{
    width: 100%;
    margin: 0 auto 26px;
}

.shopping-right .search label{
    float: left;
    position: relative;
}
.shopping-right .search input{
    width: 460px;
    height: 32px;
    border: 2px solid #3D1101;
    background: transparent;
    padding: 0 0 0 15px;
    color: #3D1101;
}
.shopping-right .search .search-icon{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    background: #3D1101;
    color: #fff;
    width: 6%;
    height: 95%;
    line-height: 32px;
    text-align: center;
}
.shopping-right .search .checkout{
    float: right;
}
.shopping-right .search .checkout div,
.shopping-right .search .checkout i{
    display: inline-block;
    vertical-align: middle;
}
.shopping-right .search .checkout div{
    font-size: 16px;
    color: #3D1101;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #3D1101;
}
.shopping-right .search .checkout i{
    font-size: 30px;
    color: #3D1101;
    position: relative;
}
.shopping-right .search .checkout i:after{
    content:'1';
    position: absolute;
    top: 0;
    right: -5px;
    width: 14px;
    height: 14px;
    background: #F56C23;
    color: #fff;
    border-radius: 99em;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}
.shopping-right .menu-block{
    margin-bottom: 30px;
}
.shopping-right .menu-style{
    background: #EFE9E7;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
    padding: 0 0 10px;
}
.shopping-right .menu-style img{
    width: 100%;
    margin-bottom: 16px;
}
.img-block{
    position: relative;
}
.heart-icon{
    position: absolute;
    top: 9%;
    left: 5%;
    font-size: 20px;
    color: #fff;
}
.menu-text{
    text-align: center;
}
.tw-name,
.en-name{
    color: #3D1101;
}
.tw-name{
    font-size: 20px;
}
.en-name{
    font-size: 12px;
}
.menu-text .line{
    width: 91px;
    height: 1px;
    margin: 8px auto 20px;
    background: #3D1101;
}
.price{
    width: 100%;
    margin: 0 auto 16px;
    text-align: center;
}
.price i,
.price span{
    font-size: 20px;
}
.price span{
    font-weight: bolder;
}

.add-shopping{
    width: 90%;
    height: 28px;
    margin: 0 auto 10px;
    border: 2px solid #FF5E45;
    border-radius: 3px;
    display: block;
}
.add-shopping i,
.add-shopping div{
    display: inline-block;
    vertical-align: middle;
    color: #FF5E45;
}

/* @media (min-width: 768px){
    .navbar-nav {
        float: right;
        margin: 0;
    }
} */
@media (max-width: 1024px){
    #content-block-mid .title { margin: 2em 0 0; }
    #content-block-btm .block-btm-content{ margin-left: 27%; }
}
@media (max-width: 768px){
    .caption p { width: 100%; }
    #content-block-mid .mid-content, 
    #content-block-mid .subtitle { font-size: 14px; }
    #content-block-mid .mid-content { width: 96%; margin-top: 16px; }
    #content-block-btm .block-btm-content{ width: 90%; margin-left: 0; }
    .contact-block,
    #contact-us,
    .shopping-right{ margin-top: 5%; }
}

@media (max-width: 640px){
    #content-block-mid .mid-content { width: 100%; margin-bottom: 16px; }
    #content-block-btm .block-btm-content { width: 90%; margin-top: 10px; }
    #content-block-btm .block-btm-content-name { width: 100%; }
    #footer-id{ text-align: center; }
    #register .login-password label{ display: block; }
    #register .login-email{ margin-top: 5%; }
    #register .templet-block { width: 90%; }
    #register .login-block-style label input{ width: 480px; }
    .shopping-right .search label{ float: none; width: 100%; }
    .shopping-right .search input{ width: 100%; }
    .shopping-right .search .checkout{ float: none; text-align: center; }
    #nav .navbar-nav{ float: none; }
    #nav ul li{ text-align: center; }
}
@media (max-width: 480px){
    .carousel-text-block{
        width: 80%;
        height: auto;   
    }
    .carousel-text-style-b{
        font-size: 2em;
    }
}
@media (max-width: 375px){
    .carousel-text-block{
        width: 97%;
    }
}


